<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p id="welcome">Welcome </p>
    <p id="group">Your group is </p>

    <script>
        fetch("/auth/users/user/").then(data => data.json()).then((res) => {
            let welcome = document.getElementById("welcome");
            welcome.innerHTML += res.username;
            let group = document.getElementById("group");
            group.innerHTML += res.group;
            
        });
    </script>
</body>
</html>