.Student{
    color: blue;
}
.Faculty{
    color: red;
}

body{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em; 
}

.body-text{
    position: relative;
    margin-left: 100px !important;
    font-weight: 300 !important;
    font-size: 1.8rem;
}

body, body * {
    font-family: 'Pangolin', cursive;
}

.font-cursive, .font-cursive *{
    font-family: 'Cedarville Cursive', cursive;
}
