{% extends 'base.htm' %}
{% load static %}
{% block head %}
<title>Startup</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}


{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
<p class="alert alert-success">You are logged in</p>
<form action="/logout" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-success">Logout</button>
</form>

{% else %}
<p class="alert alert-warning">You are not logged in</p>


<div class="row">
    <div class="container col-md-5 col-sm-12">
        <h3 class="title">Student</h3>
        <div class="content w-100">
            <a href="{% url 'student_register' %}">
                <div class="content-overlay"></div>
                <img class="content-image w-100 mx-3"
                    src="{% static 'images/student.jpg' %}">
                <div class="content-details fadeIn-top fadeIn-left">
                    <h3>Register</h3>
                    <p>Click here to register as a student.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="container col-md-5 col-sm-12">
        <h3 class="title">Teacher</h3>
        <div class="content w-100">
            <a href="{% url 'teacher_register' %}">
                <div class="content-overlay"></div>
                <img class="content-image w-100 mx-3"
                    src="{% static 'images/teacher.jpg' %}">
                <div class="content-details fadeIn-top fadeIn-right">
                    <h3>Register</h3>
                    <p>Click here to register as a teacher.</p>
                </div>
            </a>
        </div>
    </div>
</div>


<p class="d-flex justify-content-center mt-4">Already have an account? Click <a href="{% url 'student_login' %}" class="text-primary mx-1"> here </a> to login</p>
{% endif %}


{% endblock body %}