.Student {
  color: blue;
}
.Faculty {
  color: red;
}

body {
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  background-image:
    /* linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), */ linear-gradient(
    rgb(238, 238, 238) 0.1em,
    transparent 0.1em
  );
  background-size: 100% 1.2em;
}

.body-text {
  margin-left: 25px !important;
  margin-right: 5vw !important;
  margin-top: 50px;
}

body,
body * {
  font-family: "Pangolin", cursive;
}
  #outer_space {
    margin-left: 320px;
    margin-top: 100px;
    width: 51px;
    height: 120px;
  }
@media only screen and (min-width: 600px) {


  #line {
    margin-top: 40px;
    width: 475px;
    border: 1px solid black;
  }

  #pencil {
    width: 100%;
    height: 100%;
    background-color: gray;
  }

  #top {
    width: 100%;
    height: 15px;
    background-color: black;
  }

  #top_border {
    width: 100%;
    height: 5px;
    background-color: white;
  }

  #bottom {
    width: 50px !important;
    height: 10px;
    border-top: 30px solid #ffc266;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  #nib {
    width: 0px;
    height: 0px;
    border-top: 11px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  #design {
    margin-top: 90px;
    width: 100%;
    height: 10px;
    background-color: #ffc266;
  }

  #small_design {
    float: left;
    width: 0px;
    height: 0px;

    border-top: 9px solid gray;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}
