{% extends 'base.htm' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="col-md-8 card mb-4  mt-3 ">
  <div class="card-body">
    <h3>Add Question</h3>
    <form method="post" style="margin-top: 1.3em;" id="question-form">
      {% csrf_token %}
      {{ addquestion_form|crispy }}

      <div class="mcq">
        <textarea id="input-choice" rows="3" class="my-2 p-1" name="input-choice" placeholder="Choice Text"
          style="width: 100%;"></textarea>
        <br>
        <button type="button" class="btn btn-sm btn-secondary mb-3" id="add-choices">Add Choice</button>
        <br>
        <ol class="ol-mcqs">
        </ol>
      </div>

      <div class="short-answer">
        <label for="input-answer">Answer</label>
        <br>
        <textarea class="p-1" id="input-answer" rows="3" name="short-answer" form="question-form" style="width: 100%;"
          placeholder="Enter the expected answer here."></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<!-- i will clean this mess later :X -->
<script>
  $(document).ready(() => {

    var max_choices = 4;
    var count = 0;
    var choseAnswer = false;
    var selected = null;

    bindMouseover = function (element) {
      $(element).mouseover(() => {
        if (!choseAnswer) {
          $(element).css({
            "background-color": "rgba(0, 255, 0, 0.3)",
            "cursor": "pointer"
          });
        }
      });
      $(element).mouseleave(() => {
        if (!choseAnswer) {
          $(element).css({
            "background-color": ''
          });
        }
      });
      $(element).mousedown(() => {
        if (!choseAnswer) {
          //make sure it is highlighted
          $(element).css({
            "background-color": "rgba(0, 255, 0, 0.3)"
          });
          choseAnswer = true;
          selected = $(element).attr("value");
          let inp = $(`<input type="text" name="answer" value="${selected}" hidden/>`);
          inp.appendTo('.mcq');
          console.log("selected", selected);
        }
      });
    }



    $("#add-choices").click(() => {
      if (count >= max_choices) {
        alert("Maximum limit reached");
        return;
      }
      let val = $("#input-choice").val();
      if (val === "") {
        return;
      }
      $("#input-choice").val(""); //set empty
      let element = $(
        `<li class="list-group-item list-group-item-secondary my-2" value="${count}" id="element-${count}">${val}</li>`
      )
      let inp = $(`<input type="text" name="choice-${count}" value="${val}" hidden/>`);
      element.appendTo('.ol-mcqs');
      inp.appendTo('.mcq');
      bindMouseover("#element-" + count);
      count++;
    });

    $(".mcq").hide();
    $("#id_type").change(() => {
      var selection = parseInt($("#id_type option:selected").val());
      if (selection == 1) {
        //short answer
        $(".mcq").hide();
        $(".short-answer").show();

      } else {
        //mcq
        $(".short-answer").hide();
        $(".mcq").show();
      }
    });
  });
</script>

<style>

</style>
{% endblock body %}