
{% extends 'base.htm' %}
{% block body %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .head_text {
        color: white;
    }
    .active{
        background-color: red;
    }
    .card {
        box-shadow: 0 16px 48px rgb(1, 11, 20);
    }
</style>

<a href="{% url 'add_test' %}" class="btn btn-primary">Add new test&rarr;</a>
<br>
<br>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for test in tests %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ test.title }}</h2>
                    <p class="card-text text-muted h6">{{ test.author }} | {{ test.created_on}} </p>
                    <p class="card-text">{{ test.description|slice:":200" }}</p>

                    <a href="{% url 'test_detail' test.id %}" class="btn btn-primary">View test&rarr;</a>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{%endblock%}
