.cluster{
    border: 2px solid gray;
    position: relative;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    padding-bottom: 50px;
}
.cluster-answers{
    border-top: 2px solid gray;
    padding: 8px;
}
.cluster-answer{
    /* margin: 8px; */
    padding: 8px;
}
.grade-btn{
    position:absolute;
    right: 10px;
    bottom: -35px;
}
